html {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  text-decoration: none;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg.gif");
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("img/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  color: #fff;
  margin: 0; /* Removes default margin */
  min-width: 50vw;
  min-height: 50vh;
}

header,
main,
footer {
  margin: 0px auto;
  padding: 20px;
  max-width: 95vw;
  min-width: 70vw;
  opacity: 0.9;
}

main {
  flex: 1 0 auto; /* This allows it to grow and shrink but not shrink smaller than its content */
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

header,
nav ul,
section,
footer {
  border: 3px solid #fff;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav a {
  color: #fff;
}

nav a:hover {
  background-color: #fff;
  color: #121212;
  padding: 2px 5px;
}

h1,
h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  left: 50%; /* Add this line */
  transform: translateX(-50%); /* Add this line */
  height: 2vh;
}

body {
  background-color: #121212;
  width: 100%;
  /*   height: 60vh; /* Adjust as needed */
  min-height: 50vh;
  overflow: auto;
}

header,
nav ul,
section,
footer {
  background-color: #1f1f1f;
}

#chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #e0e0e0;
  padding: 20px;
  background-color: #1f1f1f;
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 0;
}

#chat-messages {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  max-height: 300px;
}

.bot-message,
.user-message {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #e0e0e0;
}

.bot-message {
  align-self: flex-start;
  background-color: #121212;
  color: #e0e0e0;
}

.user-message {
  align-self: flex-end;
  background-color: #e0e0e0;
  color: #121212;
}

#message-input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-shrink: 0;
}

#message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #e0e0e0;
  background-color: #121212;
  color: #e0e0e0;
}

#send-button {
  padding: 5px 10px;
  border: none;
  background-color: #e0e0e0;
  color: #121212;
}
#header {
  height: 10vh;
}
#hade {
  font-size: 18px;
  text-align: center;
}

.avatar {
  font-size: 22px;
  margin-bottom: 5px;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* Add this line to fix the border sizing issue */
  border: 3px solid #e0e0e0;
  background-color: #1f1f1fee;
}
